/* ---- HEADER FOR THE PAGE ---- */

header{
    background-color: white;
    height: 64px;
    color: black;
    width: 100%;
}

#head-name{
    font-weight: bold;
    display: flex;
    align-items: center;
    float: left;
}

#head-name p{
    display: flex;
    align-items: center; 
    height: 32px;
}

#academy-header{
    color: gray;
}

#logo-photo{
    height: 32px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    float: left;
}

header nav{
   float: right;
   align-items: center;
   display: flex;
   padding-right: 24px;
}

ul{
    list-style-type: none;
    align-content: space-between;
}

ul li{
    display: inline;
    flex-direction: row;
    padding: 0 8px;
}

/* ---- FIRST BODY FOR THE PAGE ---- */

#body-one{
    background-color: #a8a29e;
    display: flex;
    align-items: center;
}

#banner-photo{
    width: 60%;
    margin: 32px 24px;
    float: left;
}

#banner-info{
    float: right;
    padding: 0 24px;
    display: flexbox;
    align-items: center;
}

button{
    background-color: #171717;
    color: #e5e5e5;
    padding: 8px 175px;
    cursor: pointer;
}

button:hover{
    background-color: #737373;
    font-weight: bold;
    opacity: 1;
}

/* ---- SECOND BODY FOR THE PAGE ---- */
#body-two{
    background-color: white;
    display: flex;
    align-items: center;
}

#campus-quote{
    float: left;
    width: 60%;
    padding: 32px 24px;
    display: inline;
}

#information-main-photo{
    width: 60%;
    align-items: center;
    justify-content: center;
    display: block;
    width: 100%;
}

#campus{
    float: right;
    display: inline-flex;
    flex-direction: column;  
    width: 40%;
    padding: 32px 16px 32px 24px;
}

.campus-photos{
    height: auto;
    width: 35%;
    float: left;
    padding: 16px;
}

#quote-information{
    font-size: 20px;
}

#campus-quote h2{
    font-weight: bold;
}

#hiring{
    font-size: 15px;
}

.guest-lecture {
    background-color: #d4d4d4;
}

.read-more{
    color: #0ea5e9;
    padding-left: 8px;
}

.read-more:hover {
    font-size: 15px;
    font-weight: bold;
}

.campus-info h4 {
    font-size: 20px;
}

.campus-info p {
    padding: 8px 8px;
}

.campus-info {
    border: 1px solid #d4d4d4;
}

/* ---- THIRD BODY FOR THE PAGE ---- */

#body-three{
    background-color: gray;
}

#body-three h2{
    text-align: center;
    font-weight: bold;
    padding-top: 32px;
}

.courses{
    background-color: #f3f4f6;
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    margin: 16px;
    width: 30%;
    height: 100%;
}

.course-photo{
    height: auto;
}

.course-row {
    padding: 32px 72px;
}

.course-name {
    margin: 16px 16px;
}

.type {
    margin: 8px 16px;
}

.course-info {
    margin: 0px 16px;
    margin-bottom: 24px;
}